.third-services {
  & .services-picture {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & h3 {
      position: relative;
      margin: 80px auto;
      text-transform: uppercase;
      font-size: 1.3rem;
      &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        background: $colorgrey;
        bottom: -30px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    & img {
      width: 20%;
      height: 20%;
    }
  }
  & .services-main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 30px auto;
    width: 90%;
    height: 580px;
    & .service-left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;
      height: 100%;
      width: 80%;
      & .service-left-code {
        height: 190px;
        width: 80%;
      }
      & .service-left-seo {
        height: 190px;
        width: 80%;
      }
      & .service-left-upload {
        height: 190px;
        width: 80%;
      }
    }
    & .service-right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;
      height: 100%;
      width: 80%;
      & .service-right-dev {
        height: 190px;
        width: 80%;
      }
      & .service-right-ligne {
        height: 190px;
        width: 80%;
      }
      & .service-right-communication {
        height: 190px;
        width: 80%;
      }
    }
  }
}

.service-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 20px auto;
  height: 25%;

  & img {
    width: 30px;
    height: 30px;
    margin: 0 40px;
  }
  & h3 {
    text-transform: uppercase;
  }
}
