.second-skills-softSkills {
    background: linear-gradient($colorgrey 5%, white);
    & .skills-softSkills {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 80%;
        height: 800px;
        margin: 0 auto;
        & .skills {
            width: 60%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: start;
            & .skills-title{
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 40px auto;
                
            }
            & .skills-graph {
                width: 80%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: start;
            }
        }
        & .softSkills {
            width: 40%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: start;
            & .softSkills-title {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 40px auto;
            }
        }
    }

}






