.firstMain-Skills-Certif {
    width: 100%;
    background: red;
}

.skills-certif {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}