* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    
}

body {

    height: 2000px;
    background: rgba(226, 226, 226, 0.836);
}

.separateur {
    width: 100%;
    height: 200px;
    background: url("../../img/background.jpg") center/cover fixed;
}