#skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 0 auto 200px auto;
  background: black;
  color: white;
  width: 100%;
  transition: 0.8s ease-in-out;
  & h2 {
    position: relative;
    font-family: "Poiret One", sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 50px auto;
    padding-bottom: 40px;
    font-size: 2.3rem;
    color: $color3;
    &:after {
      content: "";
      position: absolute;
      width: 100px;
      height: 2px;
      background: $color3;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  & .skillsContain {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: start;
    text-align: center;
    @include middle {
      width: 100%;
      flex-direction: column;
      align-items: center;
      margin: 0;
    }

    & .skillsLeft,
    .skillsMid,
    .skillsRight {
      width: 30%;
      min-width: 400px;
      height: 450px;
      min-height: 380px;
      margin: 30px 15px;
      border: 1px solid $color1;
      box-shadow: 5px 5px 20px rgba(255, 255, 255, 0.24);
      border-radius: 15px;
      background: rgb(89, 22, 56);
      background: radial-gradient(
        circle,
        rgba(89, 22, 56, 0) 55%,
        rgba(89, 22, 56, 1) 91%
      );
      transform: translateY(200px);
      opacity: 0;
      transition: all 0.7s ease-out;
      @include middle {
        margin: 20px 0;
        min-width: 350px;
      }

      & h3 {
        margin: 20px auto 50px auto;
        color: $color3;
        font-family: "poiret One", sans-serif;
        font-size: 2rem;
        letter-spacing: 2px;
        @include middle {
          margin: 20px auto;
        }
      }
      & .skillsPara {
        padding: 30px;
        font-size: 1.1rem;
        line-height: 30px;
        text-align: start;
        @include middle {
          padding: 20px 20px;
        }
        @include mobile {
          text-align: center;
        }
      }
    }
    & .iconLeft,
    .iconRight {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      margin: 0 30px;
      & .iconFlex {
        & i {
          font-size: 4rem;
          margin: 20px 0;
          transition: 0.25s ease;
          cursor: pointer;
          &:hover {
            transform: scale(1.1);
            transition: 0.25s ease;
            color: $color3;
          }
        }
      }
    }
  }
}
